# Ⅰ. 자료형


## 1. int / float

> 연산

In [1]:
print(3 + 2) # 더하기
print(3 - 2) # 빼기
print(3 * 2) # 곱하기
print(3 / 2) # 나누기
print(3 ** 2) # 제곱
print(3 // 2) # 나머지
print(3 % 2) # 몫

5
1
6
1.5
9
1
1

> 함수

In [4]:
nums = [1, 2, 3, 4]

print('max :', max(nums))
print('min :', min(nums))
print('sum :', sum(nums))

max : 4
min : 1
sum : 10

In [7]:
import math

print('1 x 2 x 3 x 4 :', math.prod(nums))
print('4! :', math.factorial(4))
print('4C2 :', math.comb(4,2))

1 x 2 x 3 x 4 : 24
4! : 24
4C2 : 6

In [8]:
print(int(1.7)) # 내림
print(math.ceil(1.3)) # 올림
print(round(1.72)) # 반올림

1
2
2

> 기타

In [9]:
float('inf') # 무한대

inf

## 2. bool

* 연산

In [16]:
print(1 < 2, 1 > 2, 1 <= 2, 1 >= 2, 1 == 2, 1 != 2) # 비교 연산자
print(1 in [1, 2], 1 not in [1, 2]) # 포함 / 비포함
print(not 1 < 2) # 반전
print(True and False) # and
print(True or False) # or

True False True False False True
True False
False
False
True

* 함수

In [18]:
print(any([False, False, False]))
print(all([True, True, True]))

False
True

## 3. str

> 연산

In [28]:
print("hello" + "world")
print("hello" * 3)
print('hello' in 'againhelloworld')

helloworld
hellohellohello
True

> 함수

* check

In [22]:
print('alphabet'.isalpha()) # 알파벳으로 이루어져 있나?
print('12345'.isdigit()) # 숫자로 이루어져 있나?
print('PYTHON'.isupper()) # 대문자인가?
print('python'.islower()) # 소문자인가?
print('alphabet'.startswith('alpha')) # 이 str으로 시작하는가?
print('endswith'.endswith('with')) # 이 str으로 끝나는가?

True
True
True
True
True
True

* convert

In [24]:
print('python'.upper())
print('PYTHON'.lower())

PYTHON
python

* substitution

In [31]:
print('i dont want any spaces'.replace(' ', '')) # 교체
print('you are my number one'.replace('one', '1'))

idontwantanyspaces
you are my number 1

* strip

In [35]:
print(' python  \n'.strip()) # 전처리같은거
print('python...'.strip('.'))
print(' python  \n'.rstrip())

python
python
 python

> re (정규표현식)

* search

In [48]:
import re

s = '내 이메일은 jung1234@gmail.com입니다.'
match = re.search(r'(\w+)@(\w+).[a-zA-Z]+', s)

print(match.group(), match.group(1), match.group(2))

jung1234@gmail.com jung1234 gmail

* findall

In [56]:
s = "2apples and 5 bananas cost 11000won."

re.findall('(\d+) ?(\w+)', s)

[('2', 'apples'), ('5', 'bananas'), ('11000', 'won')]

* split

In [57]:
s = "0----2-010--222"

re.split('-+', s)

['0', '2', '010', '222']

* sub

In [64]:
s = 'I liVe in Seoul, Korea'

def f(match):
    print(match)
    return len(match.group()) * '*'

re.sub(r'\b[A-Z]\w+\b', f, s)

<re.Match object; span=(10, 15), match='Seoul'>
<re.Match object; span=(17, 22), match='Korea'>

'I liVe in *****, *****'

# Ⅱ. 자료구조

## 1. List

> 연산

In [76]:
l = [0, 1, 2, 3, 4, 5, 6, 7]
print(l + [8, 9, 10]) # extend
print(l * 3) # mul
print(1 in l) # in
print(l[0]) # index
print(l[2:6:2]) # slicing

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]
True
0
[2, 4]

> 함수

In [71]:
l = [5, 3, 1, 4]

l.append(10)
print('after append:', l)

popped = l.pop()
print('after pop:', l, popped)

l.sort() # sorted(l)
print('after sort', l)

after append: [5, 3, 1, 4, 10]
after pop: [5, 3, 1, 4] 10
after sort [1, 3, 4, 5]

## 2. Tuple

> 연산

In [77]:
t = (0, 1, 2, 3, 4, 5, 6, 7)
print(t + (8, 9, 10)) # extend
print(t * 3) # mul
print(1 in t) # in
print(t[0]) # index
print(t[2:6:2]) # slicing

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7)
True
0
(2, 4)

## 3. Set

> 연산

In [78]:
s1, s2 = {1, 2, 3, 4}, {3, 4, 5, 6}
print(s1 & s2) # 교집합
print(s1 | s2) # 합집합
print(s1 - s2) # 차집합
print(1 in s1) # in

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
True

> 함수

In [94]:
s = {1, 2, 3, 4}

s.add(5) # append
print('after add', s)

s.remove(5) # pop
print('after remove', s)

after add {1, 2, 3, 4, 5}
after remove {1, 2, 3, 4}

In [95]:
print(s.issubset({1,2,3,4,5,6})) # 부분집합인가?
print(s.issuperset({1,2})) # 모집합인가?

True
True

In [88]:
l = list(range(100000))
s = set(range(100000))

import random
n = random.randint(0, 99999)

In [89]:
%%time

n in l

CPU times: user 449 µs, sys: 0 ns, total: 449 µs
Wall time: 454 µs

True

In [90]:
%%time

n in s

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

True

## 4. Dictionary

> 연산

In [97]:
d = {'a':1, 'b':2}

print(d['a']) # indexing

d['c'] = 3 # add
print(d)

del d['c'] # remove
print(d)

print('a' in d) # in

1
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2}
True

> 함수

In [100]:
d1 = {'a':1, 'b':2}
d2 = {'b':3, 'c':4}

d1.update(d2)
d1

{'a': 1, 'b': 3, 'c': 4}

In [101]:
for k in d.keys():
    print(k)

# for v in d.values():
#     print(v)

# for k, v in d.items():
#     print(k, v)

a
b
1
2
a 1
b 2

## 4-1 Defaultdict

In [102]:
from collections import defaultdict

d = defaultdict(int)
d['sdf']

0

In [131]:
vocab = ['apple', 'banana', 'angle', 'ant', 'boat']
# {'a': ['apple', 'angle', 'ant'], 'b': ['banana', 'boat']}

In [133]:
d = dict()

for word in vocab:
    if word[0] in d:
        d[word[0]].append(word)
    else:
        d[word[0]] = [word]
        
d

{'a': ['apple', 'angle', 'ant'], 'b': ['banana', 'boat']}

In [132]:
dd = defaultdict(list)

for word in vocab:
    dd[word[0]].append(word)

dd

defaultdict(list, {'a': ['apple', 'angle', 'ant'], 'b': ['banana', 'boat']})

## 4-2 Counter

In [104]:
items = ['cat', 'dog', 'dog', 'mouse', 'cat', 'dog']
# {'cat': 2, 'dog': 3, 'mouse': 1}

In [105]:
cntr = defaultdict(int)
for i in items:
    cntr[i] += 1

cntr

defaultdict(int, {'cat': 2, 'dog': 3, 'mouse': 1})

In [106]:
from collections import Counter

c = Counter(items)
c

Counter({'cat': 2, 'dog': 3, 'mouse': 1})

In [107]:
more_items = ['elephant', 'mouse', 'dog', 'dog']

c.update(more_items)
c

Counter({'cat': 2, 'dog': 5, 'mouse': 2, 'elephant': 1})

In [108]:
c.most_common()

[('dog', 5), ('cat', 2), ('mouse', 2), ('elephant', 1)]

In [112]:
c1 = Counter(['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])
c2 = Counter(['a', 'b', 'c', 'e', 'f'])

print(c1, c2)
print()
print(c1 + c2) # 더하기
print(c1 - c2) # 빼기
print(c1 & c2) # 둘 중 작은값
print(c2 | c2) # 둘 중 큰값

Counter({'a': 2, 'b': 2, 'c': 2, 'd': 2}) Counter({'a': 1, 'b': 1, 'c': 1, 'e': 1, 'f': 1})

Counter({'a': 3, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f': 1})
Counter({'d': 2, 'a': 1, 'b': 1, 'c': 1})
Counter({'a': 1, 'b': 1, 'c': 1})
Counter({'a': 1, 'b': 1, 'c': 1, 'e': 1, 'f': 1})

## 5. deque

In [114]:
from collections import deque

dq = deque([0, 1, 2, 3, 4])

dq.appendleft(5)
print(dq)

dq.popleft()
print(dq)

deque([5, 0, 1, 2, 3, 4])
deque([0, 1, 2, 3, 4])

In [115]:
l = list(range(100000))
dq = deque(range(100000))

In [117]:
%%time

l.insert(0, 0)

CPU times: user 134 µs, sys: 0 ns, total: 134 µs
Wall time: 138 µs

In [118]:
%%time

dq.appendleft(0)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.44 µs

In [119]:
%%time

l[50000]

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.96 µs

49999

In [120]:
%%time

dq[50000]

CPU times: user 38 µs, sys: 0 ns, total: 38 µs
Wall time: 41 µs

49999

## 6. heapq

In [122]:
from heapq import heapify, heappop, heappush

# heappify
l = [1, 5, 2, 7, 9, 10]
heapify(l)
print(l)

[1, 5, 2, 7, 9, 10]

In [123]:
# add element
heappush(l, 0)
print(l)

[0, 5, 1, 7, 9, 10, 2]

In [124]:
min_item = heappop(l)
print(l, min_item)

[1, 5, 2, 7, 9, 10] 0

# Ⅲ. 형변환

In [134]:
print(int('1234')) # int
print(str(1234)) # str
print(list({1, 2, 3, 4})) # set -> list
print(set([1, 2, 3, 4])) # list -> set

1234
1234
[1, 2, 3, 4]
{1, 2, 3, 4}

## 1. ? -> bool

In [ ]:
## int => 0 일때 false
n = 5
while n != 0:
    print(n)
    n -= 1

In [ ]:
## 컨테이너형 => 비어있을때 false
l = [0, 1, 2, 0, -3]

while len(l) != 0:
    print(l.pop())

In [138]:
## 객체가 없을때 (None)=> false

import re

match = re.search(r'\d+', 'asadfsf')
if match:
    print(match.group())
else:
    print("no match")

no match

## 2. string <-> list

* string -> list

In [140]:
"programmers jayul jooheng".split()

['programmers', 'jayul', 'jooheng']

In [139]:
"you and i and us".split(" and ")

['you', 'i', 'us']

* list -> string

In [15]:
" ".join(["your", "code", "my", "code"])

'your code my code'

In [17]:
", ".join(["one", "two", "three"])

'one, two, three'

## 3. int <-> str

In [141]:
print(ord('A')) # char -> ascii
print(chr(65)) # ascii -> char

65
A

In [360]:
{i:chr(i+64) for i in range(1, 27)}

{1: 'A',
 2: 'B',
 3: 'C',
 4: 'D',
 5: 'E',
 6: 'F',
 7: 'G',
 8: 'H',
 9: 'I',
 10: 'J',
 11: 'K',
 12: 'L',
 13: 'M',
 14: 'N',
 15: 'O',
 16: 'P',
 17: 'Q',
 18: 'R',
 19: 'S',
 20: 'T',
 21: 'U',
 22: 'V',
 23: 'W',
 24: 'X',
 25: 'Y',
 26: 'Z'}

* 10진수 <-> 이진수

In [160]:
print(bin(7)) # int -> binary
print(int("0b111", 2)) # binary -> int

0b111
7

# Ⅳ. 제어문

## 1. if else

In [162]:
x = 10

if x > 0:
    print('plus')
elif x < 0:
    print('minus')
else:
    print('zero')

plus

## 2. for

In [168]:
for x in "programmers. school.":
    if x in 'aeiou':
        continue
    print(x)
    if x == '.':
        break
else:
    print('.')

p
r
g
r
m
m
r
s
.

## 3. while

In [170]:
s = "programmers"

while s:

    x, s = s[0], s[1:]

    if x in 'aeiou':
        continue
    print(x)

    if x == '.':
        break
else:
    print('.')

p
r
g
r
m
m
r
s
.

# Ⅴ. 기타

## 1. Unpacking

In [172]:
l = [1, 2, 3]

a, b, c = l[0], l[1], l[2]
print(a, b, c)

1 2 3

In [173]:
a, b, c = l
print(a, b, c)

1 2 3

In [345]:
for l in [[1,2], [2,3], [3, 4]]:
    print(l[0], l[1])

1 2
2 3
3 4

In [349]:
for i, l in [[1, [1,2]], [2, [2,3]], [3, [4,5]]]:
    print(i, l[0], l[1])

1 1 2
2 2 3
3 4 5

In [180]:
def f(a, b, c):
    return a + b + c

In [181]:
query = [[1, 2, 3], [3, 2, -1], [4, 5, 0], [1, 1, 2]]

In [183]:
for q in query:
    print(f(q[0], q[1], q[2]))

6
4
9
4

In [175]:
l = ['apple', 'banana', 'carrot']
print(l)
print(*l)

['apple', 'banana', 'carrot']
apple banana carrot

## 2. Ternary operator

In [339]:
heights = [1, 10, 3, 32, 2] # ['Low', 'High', 'Low', 'High', 'Low']

res = []

for h in heights:
    if h < 10:
        res.append('Low')
    else:
        res.append('High')

print(res)

['Low', 'High', 'Low', 'High', 'Low']

In [340]:
res = []

for h in heights:
    res.append('Low' if h < 10 else 'High')
    
print(res)

['Low', 'High', 'Low', 'High', 'Low']

## 3. List Comprehension

In [148]:
# 첫 10개의 제곱수

res = []
for i in range(10):
    res.append(i*i)
print(res)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [333]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
# 3x3 grid의 모든 좌표

res = []
for i in range(3):
    for j in range(3):
        res.append((i, j))
print(res)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [334]:
[(i, j) for i in range(3) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [153]:
# i != j 좌표를 제외한 좌표

res = []
for i in range(3):
    for j in range(3):
        if i != j:
            res.append((i, j))
print(res)

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [154]:
res = [(i, j) for i in range(3) for j in range(3) if i != j]
print(res)

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

## 4. Zip / Enumerate

In [177]:
ids    = [1001, 1002, 1003, 1004]
names  = ['A' , 'B' , 'C' , 'D' ]
grades = [94  , 19  , 44  , 55  ]

# (1001, 'A', 94), (1002, 'B', 19), ...

In [180]:
for i in range(len(names)):
    print((ids[i], names[i], grades[i]))

(1001, 'A', 94)
(1002, 'B', 19)
(1003, 'C', 44)
(1004, 'D', 55)

In [179]:
for record in zip(ids, names, grades):
    print(record)

(1001, 'A', 94)
(1002, 'B', 19)
(1003, 'C', 44)
(1004, 'D', 55)

In [178]:
scores = {'math':[60, 30, 10], 'english':[20, 90, 80], 'korean':[40, 60, 60]}

In [189]:
for x in zip(*scores.values()):
    print(x, sum(x)/3)

(60, 20, 40) 40.0
(30, 90, 60) 60.0
(10, 80, 60) 50.0

In [181]:
l = ['a', 'b', 'c', 'd']
for i, x in zip(range(len(l)), l):
    print(i, x)

0 a
1 b
2 c
3 d

In [182]:
l = ['a', 'b', 'c', 'd']
for i, x in enumerate(l):
    print(i, x)

0 a
1 b
2 c
3 d

# Ⅵ. 예제

[튜플](https://programmers.co.kr/learn/courses/30/lessons/64065?language=python3)  
[스킬 트리](https://programmers.co.kr/learn/courses/30/lessons/49993?language=python3)  
[신고 결과 받기](https://school.programmers.co.kr/learn/courses/30/lessons/92334)  
[주차 요금 계산](https://school.programmers.co.kr/learn/courses/30/lessons/92341?language=python3)